<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hate Crime</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body bgcolor="lightblue">
   <center> <div class="row">
         <div class="col-md-12 jumbotron text-center">
            <h1>Hate Crime in the US</h1>
            <h2>Background:</h2> The recent election cycle and resulting political 
            turmoil has brought hate into the forefront of the American psyche. 
            <br>Racially motivated attacks lacking condemnation from a sitting United States president has caused us to revisit a question that many believed was put to rest decades ago.
             <br>What's more surprising is that this is happening during a time where America is experiencing relatively unprecendented economic expansion.
            <br>Unemployment is low, corporate profits are robust, however the vast majority of hourly workers have not shared in this prosperity. 
            <br>In an attempt to better understand this connection, we made a couple cool graphs. Enjoy!
          </div>

       </div></center>
         <center> <div class="row">
            <div class="col-md-12 jumbotron text-center">
               <h2>Total Hate Crime by Year</h2>
            </div>
        </div></center>

    <div id="plot"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

<body>
  <center> <div class="row">
            <div class="col-md-12 jumbotron text-center">
               <h2>Hate Crime by State</h2>
            </div>
        </div></center>
    <select id="selDataset" onchange="getData(this.value)">
        <option value="dataset1">Alabama</option>
        <option value="dataset2">Alaska</option>
        <option value="dataset3">Arizona</option>
        <option value="dataset4">Arkansas</option>
        <option value="dataset5">California</option>
        <option value="dataset6">Colorado</option>
        <option value="dataset7">Connecticut</option>
        <option value="dataset8">Delaware</option>
        <option value="dataset9">District of Columbia</option>
        <option value="dataset10">Florida</option>
        <option value="dataset11">Georgia</option>
        <option value="dataset12">Idaho</option>
        <option value="dataset13">Illinois</option>
        <option value="dataset14">Indiana</option>
        <option value="dataset15">Iowa</option>
        <option value="dataset16">Kansas</option>
        <option value="dataset17">Kentucky</option>
        <option value="dataset18">Lousiana</option>
        <option value="dataset19">Maine</option>
        <option value="dataset20">Maryland</option>
        <option value="dataset21">Massachusetts</option>
        <option value="dataset22">Michigan</option>
        <option value="dataset23">Minnesota</option>
        <option value="dataset24">Mississippi</option>
        <option value="dataset25">Missouri</option>
        <option value="dataset26">Montana</option>
        <option value="dataset27">Nebraska</option>
        <option value="dataset28">Nevada</option>
        <option value="dataset29">New Hampshire</option>
        <option value="dataset30">New Jersey</option>
        <option value="dataset31">New Mexico</option>
        <option value="dataset32">New York</option>
        <option value="dataset33">North Carolina</option>
        <option value="dataset34">North Dakota</option>
        <option value="dataset35">Ohio</option>
        <option value="dataset36">Oklahoma</option>
        <option value="dataset37">Oregon</option>
        <option value="dataset38">Pennsylvania</option>
        <option value="dataset39">Rhode Island</option>
        <option value="dataset40">South Carolina</option>
        <option value="dataset41">South Dakota</option>
        <option value="dataset42">Tennessee</option>
        <option value="dataset43">Texas</option>
        <option value="dataset44">Utah</option>
        <option value="dataset45">Vermont</option>
        <option value="dataset46">Virginia</option>
        <option value="dataset47">Washington</option>
        <option value="dataset48">West Virginia</option>
        <option value="dataset49">Wisconsin</option>
        <option value="dataset50">Wyoming</option>

    </select>
​
    <div id="pie"></div>
​
    <script src="{{ url_for('static', filename='app2.js') }}"></script>

</body>
<body>
  <center> <div class="row">
            <div class="col-md-12 jumbotron text-center">
               <h2>Hate Crime by Region (per Capita Crime vs per Capita Income)</h2>
            </div>
        </div></center>
        
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>

    <script src="{{ url_for('static', filename='app3.js') }}"></script>

</body>

</html>